/* SETTINGS GENERALI */
@font-face {
    font-family: motor;
    src: url(./media/MOTOR\ -\ PERSONAL\ USE\ ONLY.ttf);
}

h2,h3,h4{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

*{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --prymary: #C4D4F2;
    --secondary: #F25C05;
    --acc:#BF9780;
    --orangeCus: #F24405;
    --redCus: #A60303;
}

.text-primary{
    color: var(--prymary);
}
.text-secondary{
    color: var(--secondary);
}

.text-acc{
    color: var(--acc);
}

.text-orangeCus{
    color: var(--orangeCus);
}

.text-redCus{
    color: var(--redCus);
}

/* BG CUSTOM */

.bg-primary{
    background-color: var(--prymary);
}

.bg-secondary{
    background-color: var(--secondary);
}

.bg-acc{
    background-color: var(--acc);
}

.bg-orangeCus{
    background-color: var(--orangeCus);
}

.bg-redCus{
    background-color: var(--redCus);
}

/* HEADER */
h1{
    font-family: motor;
    font-size: 100px;

    background-image: url("./media/race-flag-15.gif");
    background-size: cover;
    background-position: center;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(10px 10px 4px #171718);

}

.headerCustom{
    background-image: url('./media/bg-header.jpg');
    vh: -100px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 700px){
    h1{
        font-size: 60px;
    }
    .headerCustom{

    }
}
    









